.container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.container img {
  z-index: 1;
  width: 20vw;
}

/*.container img:hover {
  z-index: 1;
  transform: scale(1.1);
}*/

.clicked {
  z-index: 4 !important;
  position: absolute;
  height: 100vh;
  width: auto !important;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background-color: transparent;
}

.overlay_clicked {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}

.back_button {
  filter: brightness(70%) contrast(1.5);
  position: absolute;
  top: 0px;
  left: 40px;
  width: 250px;
  height: 124px;
  background-image: url(../resources/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  z-index: 2;
}

body {
  background-image: url(../resources/doors.png);
  background-repeat: repeat;
}

* {
  image-rendering: pixelated;
}