/*
layers:
img (clicked) 5
overlay (clicked) 4
back button 3
img hover 2 
img 1
overlay 0
*/
@font-face{
  font-family: heroin;
  src: url(../resources/Got_Heroin.ttf);
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.container img {
  z-index: 1;
  width: 20vw;
  cursor: pointer;
}

.container img:hover {
  z-index: 2;
  filter: drop-shadow(0 0 24px black);
  transform: scale(1.1) rotate(1deg);
}

.clicked {
  z-index: 5 !important;
  position: absolute;
  height: 99.8vh;
  width: auto !important;
  left: 50%;
  transform: translateX(-50%) scale(1) rotate(0deg) !important;
  border: solid white 0.1vh;
}

.overlay {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background-color: transparent;
}

.overlay_clicked {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.9);
}

.back_button {
  color: firebrick;
  text-align: center;
  text-shadow: 6px 6px 3px black;
  font-size: 112px;
  font-family: heroin;
  position: absolute;
  top: -10px;
  left: 40px;
  width: 230px;
  height: 125px;
  outline: none;
  z-index: 3;
  cursor: pointer;
  background-image: url(../resources/doors.png);
  background-size: 230px auto;
  background-position: bottom;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 24px black) brightness(200%);
}

.back_button:hover {
  color: red;
  filter: drop-shadow(0 0 32px black) brightness(300%);
  transform: scale(1.01) rotate(1deg);
}

body {
  z-index: -1;
  background-image: url(../resources/doors.png);
  background-repeat: repeat;
  background-size: 183px;
}

* {
  image-rendering: pixelated;
}