.title {
  font-size: 500%;
}

.overlay {
  position: fixed;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 3s;
}

.terminal {
  width: 50%;
  height: 50%;
  z-index: 0;
  background-image: url(../frame_test.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

.terminal-output {
  font-size: 100%;;
  flex: 0.5;
  overflow-y: auto;
  width: 50%;
}

.terminal-input {
  margin-bottom: 4%;
  font-size: 100%;
  width: 50%;
  border-radius: 0px;
  border: 1% solid black;
  flex-shrink: 0;          /* prevents input from shrinking */
}

.terminal-input:focus,
.terminal-input:active {
  outline: none;
  transform: translateY(-20%);
  filter: drop-shadow(20% 20% black);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  height: 100%;
  font-size: 1vw;
}

.about {
  margin: 5%;
}

body {
  background-color: white;
  margin: 0;
  width: 100vw;
  height: 100vh;
}