.title {
  color: white;
  font-size: 120px;
}

.overlay {
  position: fixed;
  display: block;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 3s;
}

.terminal {
  width: 1100px;
  aspect-ratio: 1200 / 1000;
  z-index: 0;
  background-image: url(../terminal_compressed.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

.terminal-output {
  padding: 40px;
  font-size: 28px;
  flex: 0.55;
  overflow-y: scroll;
  width: 80%;
  color: green;
  flex-wrap: wrap;
}

.terminal-input {
  resize: none;
  overflow: hidden;
  padding: 40px;
  margin-bottom: -180px;
  color: green;
  font-size: 28px;
  width: 80%;
  border-radius: 0px;
  border: 0px solid black;
  flex-shrink: 0;          /* prevents input from shrinking */
  background-color: transparent;
}

.terminal-input:focus,
.terminal-input:active {
  outline: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  font-size: 1vw;
}

.about {
  color: white;
  font-size: 18px;
  margin: 100px;
}

.glow {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #6bfe26, 0 0 20px #9bfc24, 0 0 30px #7dcf30;
  }
  to {
    text-shadow: 0 0 20px #537a34, 0 0 30px #86a635, 0 0 40px #616625;
  }
}

body {
  background-color: black;
  margin: 0;
}