@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.overlay {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 3s;
}

.terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: move;
  width: 1000px;
  font-size: 1000px;
  aspect-ratio: 1200 / 1000;
  z-index: 0;
  position: absolute;
}

.terminal:hover {
  outline: none;
}

.terminal_output {
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 3.4%;
  overflow-y: scroll;
  width: 80%;
  flex-wrap: wrap;
}

.terminal_input {
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 3.4%;
  width: 80%;
}

.terminal_input:focus,
.terminal_input:active {
  outline: none;
}

.terminal_dark {
  transform: rotate(0deg);
  transition: rotate 1.5s;
  border: 3px solid lightgrey;
  background-color: black;
  filter: drop-shadow(15px 15px grey);
}

.terminal_dark.dragging {
  animation: drag 1.5s ease-in-out infinite alternate;
}

.terminal_output_dark {
  box-shadow: inset 0.2em 0.2em 0 grey;
  color: white;
  flex: 0.8;
  border: 2px solid lightgrey;
}

.terminal_input_dark {
  color: white;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: -20px;
  border: 2px solid lightgrey;
  background-color: black;
}

.terminal_input_dark:focus,
.terminal_input_dark:active {
  filter: drop-shadow(5px 5px grey);
}

.terminal_fleshy {
  filter: contrast(110%);
  background-image: url(../terminal_compressed.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.terminal_fleshy:hover {
  animation: pulse 1.5s ease-in-out infinite alternate;
  outline: none;
}

.terminal_output_fleshy {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
  flex: 0.55;
}

.terminal_input_fleshy {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: "Jersey 10";
  margin-bottom: -165px;
  border: none;
  background-color: transparent;
}

.glow {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 10px #6bfe26, 0 0 20px #9bfc24, 0 0 30px #7dcf30;
  }
  from {
    text-shadow: 0 0 20px #537a34, 0 0 30px #86a635, 0 0 40px #616625;
  }
}

@keyframes pulse {
  to {
    transform: scale(101%, 101%);
    filter: contrast(130%);
  }
}

@keyframes drag {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

body {
  background-color: black;
}