@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.overlay {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 3s;
}

.terminal_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: move;
  width: 1000px;
  aspect-ratio: 1200 / 1000;
  z-index: 0;
  border: 3px solid white;
  background-color: black;
  filter: drop-shadow(15px 15px white);
  position: absolute;
}

.terminal_dark:hover {
  outline: none;
}

.terminal_output_dark {
  color: white;
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 34px;
  flex: 0.8;
  overflow-y: hidden;
  width: 80%;
  border: 2px solid white;
  flex-wrap: wrap;
}

.terminal_input_dark {
  color: white;
  font-family: "Jersey 10";
  padding: 40px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 34px;
  width: 80%;
  border: 2px solid white;
  background-color: transparent;
}

.terminal_input_dark:focus,
.terminal_input_dark:active {
  outline: none;
}

.terminal_fleshy {
  filter: contrast(110%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: move;
  width: 1000px;
  aspect-ratio: 1200 / 1000;
  z-index: 0;
  background-image: url(../terminal_compressed.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.terminal_fleshy:hover {
  animation: pulse 1.5s ease-in-out infinite alternate;
  outline: none;
}

.terminal_output_fleshy {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 34px;
  flex: 0.55;
  overflow-y: hidden;
  width: 80%;
  flex-wrap: wrap;
}

.terminal_input_fleshy {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: "Jersey 10";
  padding: 40px;
  margin-bottom: -165px;
  font-size: 34px;
  width: 80%;
  border: none;
  background-color: transparent;
}

.terminal_input_fleshy:focus,
.terminal_input_fleshy:active {
  outline: none;
}

.glow {
  color: #77ff00;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 10px #6bfe26, 0 0 20px #9bfc24, 0 0 30px #7dcf30;
  }
  from {
    text-shadow: 0 0 20px #537a34, 0 0 30px #86a635, 0 0 40px #616625;
  }
}

@keyframes pulse {
  to {
    transform: scale(101%, 101%);
    filter: contrast(130%);
  }
}

body {
  background-color: black;
}