@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.overlay {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 3s;
}

.terminal {
  left: 30%;
  top: -50%;
  cursor: move;
  width: 900px;
  font-size: 1000px;
  aspect-ratio: 1200 / 1000;
  z-index: 0;
  position: absolute;
}

.terminal:hover {
  outline: none;
}

.terminal_output {
  position: relative;
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 3.4%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.terminal_output::-webkit-scrollbar {
  display: none;
}

.terminal_input {
  position: relative;
  font-family: "Jersey 10";
  padding: 40px;
  font-size: 3.4%;
  width: 80%;
}

.terminal_input:focus,
.terminal_input:active {
  outline: none;
}

.terminal_light {
  width: 700px;
  aspect-ratio: 8 / 9;
  background-image: url("../resources/paper.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.terminal_light:hover {
  outline: none;
}

.terminal_output_light {
  position: relative;
  width: 500px;
  height: 500px;
  left: 50px;
  top: 580px;
  color: white;
  flex: 0.55;
}

.terminal_input_light {
  background-image: url("../resources/input_bar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: black solid 1px;
  color: white;
  font-family: "Jersey 10";
  top: -620px;
  left: 30px;
  border: none;
  background-color: transparent;
}

.dragging {
  animation: drag 1s infinite alternate;
}


@keyframes drag {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.body_light {
  background-image: url(../resources/windows.png);
  background-repeat: repeat;
}

.background {
  color: white;
  top: 0;
  left: 0;
  font-size: 12px;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-wrap: wrap;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
}

body {
  overflow: hidden;
}