body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 99;
  width: 200px;
  aspect-ratio: 88 / 33;
}

.cursor {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

.door {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  z-index: -1;
}

.door_button {
  position: absolute;
  left: 902.4px;
  bottom: -630px;
  width: 120px;
  height: 200px;
  background-color: transparent;
  border: none;
}

.title {
  font-size: 240px;
  color: #FAE2BF;
  text-shadow: 0.5em 0 #4DA4FC, -0.5em 0 #4DA4FC, 0 0.5em #4DA4FC, 0 -0.5em #4DA4FC,
               1px 1px #4DA4FC, -1px -1px #4DA4FC, 1px -1px #4DA4FC, -1px 1px #4DA4FC;
  position: absolute;
  left: 15%;
  top: -15%;
}

.enter_text {
  font-size: 48px;
  color: #FAE2BF;
  text-shadow: 0.5em 0 #4DA4FC, -0.5em 0 #4DA4FC, 0 0.5em #4DA4FC, 0 -0.5em #4DA4FC,
               1px 1px #4DA4FC, -1px -1px #4DA4FC, 1px -1px #4DA4FC, -1px 1px #4DA4FC;
  position: absolute;
  left: 75%;
  top: 100%;
}

* {
  cursor: none;
  image-rendering: pixelated;
}